.hangmanImage {
    width: 150px;
    max-height: 150px;
    border-radius: 4px;
    opacity: 0.6;
    transition: all ease-in-out 0.5s;
    position: relative;
}

.stateImageContainer {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
